.single-container
  = render "devise/registrations/signup_header"
  // 電話番号登録フォーム
  %main.single-main
    %section.l-single-container
      %h2.l-single-head プロフィール情報入力
      = form_for(:session, url: signup_phone_number_path, html: {class: 'l-single-inner', method: :post}) do |f|

        .l-single-content
          .form-group
            %h3.text-left.l-chapter-sub-head 本人確認
            %p.l-single-text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .form-group
            = f.label :姓
            %span.form-require 必須
            = f.text_field :first_name, placeholder: "例) 山田", class: "input-default"
          .form-group
            = f.label :名
            %span.form-require 必須
            = f.text_field :last_name, placeholder: "例) 彩", class: "input-default"
          .form-group
            = f.label :姓カナ
            %span.form-require 必須
            = f.text_field :first_name_kana, placeholder: "例) ヤマダ", class: "input-default"
          .form-group
            = f.label :名カナ
            %span.form-require 必須
            = f.text_field :last_name_kana, placeholder: "例) アヤ", class: "input-default"
          .form-group
            = f.label :生年月日
            %span.form-require 必須
            %br
            .birthday-select-wrap
              .select-wrap
                = f.select :birth_year, [2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990]
                = fa_icon "angle-down"
              %span 年
            .birthday-select-wrap
              .select-wrap.select-wrap__month

                = f.select :birth_month, [1,2,3,4,5,6,7,8,9,10,11,12], class: "select-default"
                = fa_icon "angle-down"
              %span 月
            .birthday-select-wrap
              .select-wrap.select-wrap__day
                = f.select :birth_day, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31], class: "select-default"
                = fa_icon "angle-down"
              %span 日
            .clearfix
          %p.form-info-text
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

          .form-group
            %p.l-single-text.text-center
              「次へ進む」のボタンを押すことにより、
              %a{href: "/jp/tos_list/", target: "_blank"}> 利用規約
              に同意したものとみなします
          %button.btn-default.btn-red{type: "submit"} 次へ進む

  = render "users/user_footer"
