.single-container
  %header.single-header
    %h1
      %figure.single-container__header-icon
        = link_to root_path do
          %figure.single-container__header-icon-image
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2845599746"
    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li.member-page.active
          会員情報
          .progress-status
        %li.phone-page
          電話番号認証
          .progress-status
        %li.address-page
          お届け先住所入力
          .progress-status
        %li.credit-page
          支払い方法
          .progress-status
        %li.comp-page
          完了
          .progress-status
  // 入力フォーム
  %main.single-main
    %section.l-single-container
      %h2.l-single-head 会員情報入力
      = form_for(:session, url: registration_path(resource_name), html: {id: "new_user_form",class: 'l-single-inner'}) do |f|
        - if @error&.present?
          = render partial: "shared/unique_error",locals: {errors: @error}
        - if @temporary&.errors.present?
          = render partial: "shared/errors_messages",locals: {temporary: @temporary}
        .l-single-content
          .form-group
            = f.label :ニックネーム
            %span.form-require 必須
            = f.text_field :nickname, autofocus: true, placeholder: "例) メルカリ太郎",required: "required", class: 'input-default'
          .form-group
            = f.label :メールアドレス
            %span.form-require 必須
            = f.email_field :email, autocomplete: "email", placeholder: "PC・携帯どちらでも可",required: "required", class: "input-default"
          .form-group
            = f.label :パスワード
            %span.form-require 必須
            = f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上",required: "required", class: "input-default"
          .form-group
            = f.label :パスワード確認
            %span.form-require 必須
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上",required: "required", class: "input-default"
        .l-single-content
          .form-group
            .mail-account__field--RECAPCHA
              = recaptcha_tags

          .form-group
            %p.l-single-text.text-center
              「次へ進む」のボタンを押すことにより、
              %a{href: "/jp/tos_list/", target: "_blank"}> 利用規約
              に同意したものとみなします
          %button.btn-default.btn-red{type: "submit"} 次へ進む
          .form-group.text-right
            %p
              %a{href: "/jp/help_center/article/423/", target: "_blank"}
                本人情報の登録について
                %i.fa.fa-angle-right


  = render "users/user_footer"
