.single-container
  = render "devise/registrations/signup_header"
  // 入力フォーム
  %main.single-main
    %section.l-single-container
      %h2.l-single-head 会員情報入力
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'l-single-inner'}) do |f|
        = render "devise/shared/error_messages", resource: resource
        .l-single-content
          .form-group
            = f.label :ニックネーム
            %span.form-require 必須
            = f.text_field :nickname, placeholder: "例) メルカリ太郎", class: 'input-default'


          .form-group
            = f.label :メールアドレス
            %span.form-require 必須
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "input-default"
          %input{name: "login_type", type: "hidden", value: ""}


          .form-group
            = f.label :パスワード
            %span.form-require 必須
            = f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上", class: "input-default"


          .form-group
            = f.label :パスワード確認
            %span.form-require 必須
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上", class: "input-default"



        .l-single-content
          %input{name: "after_save_callback", type: "hidden", value: ""}
          .form-group
            .mail-account__field--RECAPCHA
              = recaptcha_tags

          .form-group
            %p.l-single-text.text-center
              「次へ進む」のボタンを押すことにより、
              %a{href: "/jp/tos_list/", target: "_blank"}> 利用規約
              に同意したものとみなします
          %button.btn-default.btn-red{type: "submit"} 次へ進む
          .form-group.text-right
            %p
              %a{href: "/jp/help_center/article/423/", target: "_blank"}
                本人情報の登録について
                %i.fa.fa-angle-right


  = render "users/user_footer"
