%section.mypage-tab-container-bottom
  %h2.mypage-tab-container-bottom__head
    購入した商品

  %ul.mypage-tab-container__tabs
    %li.two-tabs.active
      %h3
        %span{id: 'mypage-tab-transaction-now','data-toggle':'tab'} 取引中

    %li.two-tabs
      %h3
        %span{id: 'mypage-tab-transaction-old','data-toggle':'tab'} 過去の取引

  .tab-content
    %ul#tab-transaction-now.mypage-item-list
      - if @trading_items.present?
        - @trading_items.each do |item|
          %li
            = link_to trading_message_item_path(item),class: 'tab-content__mypage-item__link','data-open':'modal','data-modal':'banner' do
              = fa_icon 'angle-right', class: 'angle'
              %figure
                = image_tag item.item_images.first.image,alt: ""
              .tab-content__mypage-item__link__body
                - if item.messages.present?
                  .tab-content__mypage-item__link__body__text
                    「#{item.name}」の取引メッセージがあります。
                  %time
                    %i.fa.fa-clock-o
                    %span
                      - item.messages.last(1).each do |message|
                        = "#{time_ago_in_words(message.created_at)}前"
                - else
                  メッセージはありません。

      - else
        %li.mypage-item-not-found.bold
          取引中の商品がありません


    %ul#tab-transaction-old.mypage-item-list.tab-hidden
      - if @old_items.present?
        - @old_items.each do |item|
          %li
            = link_to item_path(item),class: 'tab-content__mypage-item__link','data-open':'modal','data-modal':'banner' do
              = fa_icon 'angle-right',class: 'angle'
              %figure
                = image_tag item.item_images.first.image,alt: ""
              .tab-content__mypage-item__link__body
                .tab-content__mypage-item__link__body__text
                  「#{item.name}」の取引は完了しました。
                %time
                  %i.fa.fa-clock-o
                  %span
                    = "#{time_ago_in_words(item.updated_at)}前"

      - else
        %li.mypage-item-not-found.bold
          過去に取引した商品はありません
