- breadcrumb :card_registration
= render 'shared/header'

%main.l-container
  = render 'shared/l-side'

  .right-content
    %section.right-container
      %h2.right-container__title クレジットカード情報入力
      %form.right-container__inner{action: :card_create, method: "POST", id: "charge-form"}
        = render 'card-form'

= render 'shared/sell-button'

= render 'shared/footer'
