.default-container
  = render 'items/header'
  = render 'mypage-header'

%main.l-container
  = render 'l-side'

  .right-content
    %section.right-container
      %h2.right-container__title クレジットカード情報入力
      %form#add-card-form.right-container__inner{action: "https://www.mercari.com/jp/mypage/card/add/", "data-adyen-id" => "card-form",method: "POST",novalidate: "novalidate"}
        %input{name: "__csrf_value", type: "hidden", value: "d71a07ae2f5659008d66ece5d63be2954c6b42b38027899c518c38b7c4ba20aaf0962e1a42eda79df1f04e84f98dca470069f867ca63500ae303d6a361a633714"}

        .credit-form-content
          .card-form
            %label{for: "payment_card_no",class: "card-form__title"} カード番号
            %span.form-require.card-form__label 必須
            %input#payment_card_no.card-form__input{"data-input-type" => "card", maxlength: "19", placeholder: "半角数字のみ", type: "text", value: ""}
            %ul#card-no-error-wrapper.has-error-text
            %ul.card-list
              %li
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2845599746",alt: "",class: "card-list__image--visa")
              %li
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2845599746",alt: "",class: "card-list__image--master")
              %li
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2845599746",alt: "",class: "card-list__image--saison")
              %li
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2845599746",alt: "",class: "card-list__image--jcb-club-dis")
              %li
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2845599746",alt: "",class: "card-list__image--american-express")
              %li
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2845599746",alt: "",class: "card-list__image--jcb-club-dis")
              %li
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2845599746",alt: "" ,class: "card-list__image--jcb-club-dis")

          .card-form
            %label{for: "payment_card_expire",class: "card-form__title"} 有効期限
            %span.form-require.card-form__label 必須
            %br
            .select-wrap
              %select#payment_card_expire_mm.select-wrap__default
                %option{value: "01"} 01
                %option{value: "02"} 02
                %option{value: "03"} 03
                %option{value: "04"} 04
                %option{value: "05"} 05
                %option{value: "06"} 06
                %option{value: "07"} 07
                %option{value: "08"} 08
                %option{value: "09"} 09
                %option{value: "10"} 10
                %option{value: "11"} 11
                %option{value: "12"} 12
              %i.fa.fa-angle-down.select-wrap__icon
            %span 月
            %ul#expire-mm-error-wrapper.has-error-text
            .select-wrap
              %select#payment_card_expire_yy.select-wrap__default
                %option{value: "19"} 19
                %option{value: "20"} 20
                %option{value: "21"} 21
                %option{value: "22"} 22
                %option{value: "23"} 23
                %option{value: "24"} 24
                %option{value: "25"} 25
                %option{value: "26"} 26
                %option{value: "27"} 27
                %option{value: "28"} 28
                %option{value: "29"} 29
              %i.fa.fa-angle-down.select-wrap__icon
            %span 年
            %ul#expire-yy-error-wrapper.has-error-text

          .card-form
            %label{for: "payment_card_security_code",class: "card-form__title"} セキュリティコード
            %span.form-require.card-form__label 必須
            %input#payment_card_security_code.card-form__input{placeholder: "カード背面4桁もしくは3桁の番号", type: "number", value: ""}

            %ul#security-code-error-wrapper.has-error-text
            .card-seqcode
              .card-seqcode__text{"data-js" => "show-tips-toggle"}
                %span.form-question> ?
                カード裏面の番号とは？
              .card-seqcode__info{"data-js" => "show-tips-content"}
                カードの裏面をご参照ください。
                %br
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/signup/seq-card.png?2845599746",class: "card-seqcode__info--image")

          %input#user_id{name: "user_id", type: "hidden", value: "674401716"}
          %input#encrypted_card_data{name: "encrypted_card_data", type: "hidden"}
          %p#primary-error.has-error-text
          %input{name: "after_save_callback", type: "hidden", value: ""}
          %button#submit-button.btn-default.btn-red{type: "button"} 追加する
        %script{async: "", src: "https://p01.mul-pay.jp/ext/js/token.js"}
        %script{async: "", src: "//www-mercari-jp.akamaized.net/assets/js/get_gmopg_card_token.js?4232190954"}

= render 'items/sell-button'

= render 'items/footer'
