- breadcrumb :users
= render 'shared/header'

%main.l-container.clearfix
  = render 'shared/l-side'
  .l-content
    %section.mypage-user-icon
      = link_to individual_user_path(@user) do
        %figure
          = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", alt: "", width: 60,height: "60"
        %h2.bold
          = @user.nickname
        .mypage-number
          %div
            評価
            %span.bold
              0
          %div
            出品数
            %span.bold
              = @user.items.count

    = render 'user-mypage-container.html.haml'

    = render 'user-item-status'

= render 'shared/footer'

= render 'shared/sell-button'
