- breadcrumb :notification

= render 'shared/header'

%main.l-container.clearfix
  = render 'shared/l-side'

  .l-content
    %section.mypage-tab-container
      = render 'shared/todo_header'

      .tab-content
        %ul.tab-content__mypage-item.tab-name.notification-lists
          %li
            = link_to '#',class: 'tab-content__mypage-item__link','data-open':'modal','data-modal':'banner' do
              %i.fa.fa-angle-right
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png",alt: ""
              .tab-content__mypage-item__link__body
                .tab-content__mypage-item__link__body__text
                  明日、¥600割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.fa.fa-clock-o
                  %span
                    1 時間前
          %li
            = link_to '#',class: 'tab-content__mypage-item__link','data-open':'modal','data-modal':'banner' do
              %i.fa.fa-angle-right
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png",alt: ""
              .tab-content__mypage-item__link__body
                .tab-content__mypage-item__link__body__text
                  明日、¥600割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.fa.fa-clock-o
                  %span
                    1 時間前

          %li
            = link_to '#',class: 'tab-content__mypage-item__link','data-open':'modal','data-modal':'banner' do
              %i.fa.fa-angle-right
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png",alt: ""
              .tab-content__mypage-item__link__body
                .tab-content__mypage-item__link__body__text
                  明日、¥600割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.fa.fa-clock-o
                  %span
                    1 時間前

          %li
            = link_to '#',class: 'tab-content__mypage-item__link','data-open':'modal','data-modal':'banner' do
              %i.fa.fa-angle-right
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png",alt: ""
              .tab-content__mypage-item__link__body
                .tab-content__mypage-item__link__body__text
                  明日、¥600割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.fa.fa-clock-o
                  %span
                    1 時間前

          %li
            = link_to '#',class: 'tab-content__mypage-item__link','data-open':'modal','data-modal':'banner' do
              %i.fa.fa-angle-right
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png",alt: ""
              .tab-content__mypage-item__link__body
                .tab-content__mypage-item__link__body__text
                  明日、¥600割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.fa.fa-clock-o
                  %span
                    1 時間前

          %li
            = link_to '#',class: 'tab-content__mypage-item__link','data-open':'modal','data-modal':'banner' do
              %i.fa.fa-angle-right
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png",alt: ""
              .tab-content__mypage-item__link__body
                .tab-content__mypage-item__link__body__text
                  明日、¥600割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.fa.fa-clock-o
                  %span
                    1 時間前

          %li
            = link_to '#',class: 'tab-content__mypage-item__link','data-open':'modal','data-modal':'banner' do
              %i.fa.fa-angle-right
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png",alt: ""
              .tab-content__mypage-item__link__body
                .tab-content__mypage-item__link__body__text
                  明日、¥600割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.fa.fa-clock-o
                  %span
                    1 時間前

          %li
            = link_to '#',class: 'tab-content__mypage-item__link','data-open':'modal','data-modal':'banner' do
              %i.fa.fa-angle-right
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png",alt: ""
              .tab-content__mypage-item__link__body
                .tab-content__mypage-item__link__body__text
                  明日、¥600割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.fa.fa-clock-o
                  %span
                    1 時間前


= render 'shared/footer'

= render 'shared/sell-button'
