- breadcrumb :payment_method
= render 'shared/header'

%main.l-container
  = render 'shared/l-side'
  .right-content
    %section.right-container
      %h2.right-container__title 支払い方法
      .right-container__inner
        %section
          .right-single-content
            %h3.right-container__sub-title
              クレジットカード一覧
              - if @card.present?
                %ul.right-container__card
                  %li
                    .users-card
                      %figure
                        = render 'shared/card-images'
                      .users-card__num
                        = "************" + @card.last4
                      = "0#{@card.exp_month} / #{@card.exp_year.to_s.slice(0..1).to_i}"
                      .users-card__exp
                        = link_to users_card_delete_path, method: :delete do
                          削除する
              - else
                .right-single-content
                  = link_to card_registration_users_path,class: "btn-default btn-red add-credit-card__link" do
                    %i.fa.fa-credit-card.add-credit-card__icon
                    クレジットカードを追加する
            .payment-method
              = link_to "https://www.mercari.com/jp/help_center/category/6/",target: "_blank", class: "payment-method__link" do
                %span.payment-method__text 支払い方法について
                %i.fa.fa-angle-right.payment-method__icon

= render 'shared/sell-button'
= render 'shared/footer'
