.default-container
  = render 'items/header'
  = render 'mypage-header'

%main.l-container.clearfix
  = render 'l-side'
  .l-content
    %section.l-chapter-container
      %h2.l-chapter-container__head
        プロフィール

      %form
        %input{ type: "hidden", name: "__csrf_value", value: ""}
        .setting-profile-icon
          %figure
            = image_tag '//static.mercdn.net/images/member_photo_noimage_thumb.png', width: "60",height: "60"
          %input{ type: "text",value: "名前", name: "nickname", class: "input-default" }

        .setting-profile-content
          %textarea{ name: "introduction", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪", class: "setting-profile-content__textarea-default"}
          %input{ type: "hidden", value: "",name: "after_save_callback"}
          %button{ type: "submit", class: "btn-default btn-red"}
            変更する


= render 'items/footer'

= render 'items/sell-button'
