%ul.main-brand.hidden
  %li.main-brand__list
    = link_to brand_show_brand_path(2440),class: "lists-menu__brands--brand-link" do
      %h3.main-brand__name
        シャネル
  %li.main-brand__list
    = link_to brand_show_brand_path(3802),class: "lists-menu__brands--brand-link" do
      %h3.main-brand__name
        ナイキ
  %li.main-brand__list
    = link_to brand_show_brand_path(6142),class: "lists-menu__brands--brand-link" do
      %h3.main-brand__name
        ルイ ヴィトン
  %li.main-brand__list
    = link_to brand_show_brand_path(6758),class: "lists-menu__brands--brand-link" do
      %h3.main-brand__name
        シュプリーム
  %li.main-brand__list
    = link_to brand_show_brand_path(217),class: "lists-menu__brands--brand-link" do
      %h3.main-brand__name
        アディダス
  %li.main-brand__list
    = link_to brand_path(1),class: "lists-menu__brands--brand-link" do
      %h3.main-brand__name
        ブランド一覧
