.l-side.clearfix
  %nav.mypage-nav
    %ul.mypage-nav__list
      %li
        = link_to users_path(current_user),class: "mypage-nav__list__item" do
          マイページ
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to notification_users_path,class: "mypage-nav__list__item" do
          お知らせ
          %span.mypage-nav-number
            5
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to todo_users_path,class: "mypage-nav__list__item" do
          やることリスト
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to '#',class: "mypage-nav__list__item" do
          いいね！一覧
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to new_item_path,class: "mypage-nav__list__item" do
          出品する
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to exhibition_users_path(current_user),class: "mypage-nav__list__item" do
          出品した商品 - 出品中
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to seller_trading_users_path(current_user),class: "mypage-nav__list__item" do
          出品した商品 - 取引中
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to sold_page_users_path(current_user),class: "mypage-nav__list__item" do
          出品した商品 - 売却済み
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to trading_users_path(current_user),class: "mypage-nav__list__item" do
          購入した商品 - 取引中
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to purchased_users_path(current_user),class: "mypage-nav__list__item" do
          購入した商品 - 過去の取引
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to '#',class: "mypage-nav__list__item" do
          ニュース一覧
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to '#',class: "mypage-nav__list__item" do
          評価一覧
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to '#',class: "mypage-nav__list__item" do
          ガイド
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to '#',class: "mypage-nav__list__item" do
          お問い合わせ
          = fa_icon 'angle-right', class: 'mypage-icon'
    %h3.mypage-nav__head メルペイ
    %ul.mypage-nav__list--margin-top
      %li
        = link_to '#',class: "mypage-nav__list__item" do
          売上・振込申請
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to '#',class: "mypage-nav__list__item" do
          ポイント
          = fa_icon 'angle-right', class: 'mypage-icon'
    %h3.mypage-nav__head 設定
    %ul.mypage-nav__list--margin-top
      %li
        = link_to "/profiels#{user_path(current_user)}",class: "mypage-nav__list__item" do
          プロフィール
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to edit_user_address_path(current_user,current_user&.address),class: "mypage-nav__list__item" do
          発送元・お届け先住所変更
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to payment_method_users_path(current_user),class: "mypage-nav__list__item" do
          支払い方法
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to edit_user_registration_path,class: "mypage-nav__list__item" do
          メール/パスワード
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to indentification_users_path(current_user),class: "mypage-nav__list__item" do
          本人情報
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to '#',class: "mypage-nav__list__item" do
          電話番号の確認
          = fa_icon 'angle-right', class: 'mypage-icon'
      %li
        = link_to logout_users_path,class: "mypage-nav__list__item" do
          ログアウト
          = fa_icon 'angle-right', class: 'mypage-icon'
