- url = request.path_info

- if url.match('purchased')
  %li.two-tabs
    %h3
      = link_to '取引中',trading_users_path(current_user),id: 'mypage-tab-transaction-now','data-toggle':'tab'
  %li.two-tabs.active
    %h3
      = link_to '過去の取引',purchased_users_path(current_user),id: 'mypage-tab-transaction-old','data-toggle':'tab'

- if url.match('trading') && (not url.match('seller_trading'))
  %li.two-tabs.active
    %h3
      = link_to '取引中',trading_users_path(current_user),id: 'mypage-tab-transaction-now','data-toggle':'tab'
  %li.two-tabs
    %h3
      = link_to '過去の取引',purchased_users_path(current_user),id: 'mypage-tab-transaction-old','data-toggle':'tab'

- if url.match('sold_page')
  %li.three-tabs
    %h3
      = link_to '出品中',exhibition_users_path(current_user),id: 'mypage-tab-transaction-now','data-toggle':'tab'
  %li.three-tabs
    %h3
      = link_to '取引中',seller_trading_users_path(current_user),id: 'mypage-tab-transaction-now','data-toggle':'tab'
  %li.three-tabs.active
    %h3
      = link_to '売却済み',sold_page_users_path(current_user),id: 'mypage-tab-transaction-old','data-toggle':'tab'

- if url.match('exhibition')
  %li.three-tabs.active
    %h3
      = link_to '出品中',exhibition_users_path(current_user),id: 'mypage-tab-transaction-now','data-toggle':'tab'
  %li.three-tabs
    %h3
      = link_to '取引中',seller_trading_users_path(current_user),id: 'mypage-tab-transaction-now','data-toggle':'tab'
  %li.three-tabs
    %h3
      = link_to '売却済み',sold_page_users_path(current_user),id: 'mypage-tab-transaction-old','data-toggle':'tab'

- if url.match('seller_trading')
  %li.three-tabs
    %h3
      = link_to '出品中',exhibition_users_path(current_user),id: 'mypage-tab-transaction-now','data-toggle':'tab'
  %li.three-tabs.active
    %h3
      = link_to '取引中',seller_trading_users_path(current_user),id: 'mypage-tab-transaction-now','data-toggle':'tab'
  %li.three-tabs
    %h3
      = link_to '売却済み',sold_page_users_path(current_user),id: 'mypage-tab-transaction-old','data-toggle':'tab'
