- breadcrumb :address_edit
= render 'shared/header'
%main.l-container
  = render 'shared/l-side'

  .single-container
    %main.right-content
      %section.l-single-container
        %h2.l-single-head 発送元・お届け先住所変更
        = form_for(@address, url: user_address_path, method: :patch,  html: {class: 'l-single-inner'}) do |f|
          - if @address&.errors.present?
            = render partial: "shared/errors_messages",locals: {temporary: @address}
            
          .l-single-content
            .form-group
              = f.label :郵便番号
              %span.form-require 必須
              = f.text_field :post_number, placeholder: "例) 123-4567",required: "required" , class: 'input-default'
            .form-group
              = f.label :都道府県
              %span.form-require 必須
              = f.collection_select :prefecture_id, Prefecture.all,:id,:name, {include_blank: "---"} ,{class: "input-default"}
            .form-group
              = f.label :市町村
              %span.form-require 必須
              = f.text_field :city, placeholder: "例) 横浜市緑区",required: "required", class: 'input-default'
            .form-group
              = f.label :番地
              %span.form-require 必須
              = f.text_field :town, placeholder: "例) 青山1-1-1",required: "required", class: 'input-default'
            .form-group
              = f.label :建物名
              %span.form-optional 任意
              = f.text_field :building, placeholder: "例) 柳ビル103", class: 'input-default'
            .form-group
              = f.label :電話
              %span.form-require 必須
              = f.text_field :phone_number, placeholder: "例) 09012345678",required: "required", class: 'input-default'

            %button.btn-default.btn-red{type: "submit"} 次へ進む
