.swiper-container
  .swiper-wrapper
    .swiper-slide
      = image_tag("/assets/mercari1.jpg", class: "swiper-slide__image")
    .swiper-slide
      = image_tag("/assets/mercari2.png", class: "swiper-slide__image")
    .swiper-slide
      = image_tag("/assets/mercari3.jpg", class: "swiper-slide__image")
  .swiper-button-prev
  .swiper-button-next
  .swiper-pagination#pagination

%section.pickup-container
  %h2.pickup-container__title
    ピックアップカテゴリー
  %section.items-boxes
    %h3.items-boxes__category.text-center
      = link_to "新着アイテム",root_path, class: "new-item"
    .items-boxes__lists
      %section.items-card
        = link_to root_path, class: "item-link" do
          %figure.items-card__photo
            = image_tag("/assets/item-sample.jpg")
          .items-card-intro
            %h3.items-card-intro__item-name
              スプリングコート
            .items-card-num
              .items-card-num__price
                ¥17,000
              %p.item-card-num__tax
                (税込)
      %section.items-card
        = link_to root_path, class: "item-link" do
          %figure.items-card__photo
            = image_tag("/assets/item-sample.jpg")
          .items-card-intro
            %h3.items-card-intro__item-name
              スプリングコート
            .items-card-num
              .items-card-num__price
                ¥17,000
              %p.item-card-num__tax
                (税込)
      %section.items-card
        = link_to root_path, class: "item-link" do
          %figure.items-card__photo
            = image_tag("/assets/item-sample.jpg")
          .items-card-intro
            %h3.items-card-intro__item-name
              スプリングコート
            .items-card-num
              .items-card-num__price
                ¥17,000
              %p.item-card-num__tax
                (税込)
      %section.items-card
        = link_to root_path, class: "item-link" do
          %figure.items-card__photo
            = image_tag("/assets/item-sample.jpg")
          .items-card-intro
            %h3.items-card-intro__item-name
              スプリングコート
            .items-card-num
              .items-card-num__price
                ¥17,000
              %p.item-card-num__tax
                (税込)
    .items-boxes__view-all.l-right
      = link_to "すべての商品を見る",root_path
