- comments.each do |comment|
  - if comment.no_comment == 1
    %li.clearfix
      .message-user
        %figure
          .message-user-unknown
            = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?2845599746'
          %figcaption.bold
      .message-body
        .message-body-text 出品者がコメントを削除しました
        .message-icons.clearfix
          %time.message-icon-left
            %i.fa.fa-clock-o
            %span 135 日前
        %i.fa.fa-caret-left

  - else
    - if comment.user_id != item.user_id
      %li.clearfix
        = link_to '#', class: 'message-user' do
          %figure
            %div
              = image_tag '//static.mercdn.net/images/member_photo_noimage_thumb.png'
            %figcaption.bold
              = comment.user.nickname
        .message-body
          .message-body-text
            = comment.text
          .message-icons.clearfix
            %time.message-icon-left
              %i.fa.fa-clock-o
              %span 115 日前
            .message-icon-right
              %form
                %button{ type: 'submit'}
                  %i.fa.fa-flag
          %i.fa.fa-caret-left

    - else
      %li.clearfix
        = link_to '#', class: 'message-user' do
          %figure
            %div
              = image_tag '//static.mercdn.net/thumb/members/387561164.jpg?1522509091'
            %figcaption.bold
              = comment.user.nickname
          .message-is-seller 出品者
        .message-body
          .message-body-text
            = comment.text
          .message-icons.clearfix
            %time.message-icon-left
              %i.fa.fa-clock-o
              %span 113 日前
            .message-icon-right
              %form
                %button{ type: 'submit'}
                  %i.fa.fa-flag
          %i.fa.fa-caret-left
