/ - breadcrumb :all_brands_show
/ = render 'shared/header'

%main.l-container.clearfix
  .brand-wrapper
    .brand-index.clearfix
      %h2 ブランド一覧

      .category-container.clearfix
        - @categories.each do |category|
          .name-box
            = link_to brand_path(category.id) do
              = category.name


      .brand-initial-container.clearfix
        - @initials.each do |initial|
          .initial__box.clearfix
            %a{href: "#"}
              %p
              = initial

      .brand-name-container
        .category-name
          %h3
            = @category.name

        .brand-name-list
          - @initials.each do |initial|
            .brand-name__initial
              %h4
                = initial

            .brand-name__wrapper
              - @Brands.each do |cateBra|
                - if initial == cateBra.initial
                  .brand-name__box--left
                    %a{href: "#", class: "brand-name-link"}
                      .brand-name
                        %p
                        = cateBra.name

= render 'shared/footer'

= render 'shared/sell-button'
