.single-container
  = render 'single-container'
  %main.single-container__main
    %section.l-single-container.buy-item-container
      %h2.l-single-head 購入を確定しますか？
      %section.buy-content.buy-item
        .buy-content-inner
          %h3.buy-item-image
            %figure.is-higher-width.lazyloaded
              = image_tag @images.first.image
          %p.buy-item-name.bold
            = @item.name
          %form.buy-form{:action => "https://www.mercari.com/jp/transaction/buy/done/m78002095847/", :method => "POST", :novalidate => "novalidate"}
            %p.buy-price-ja.bold
              ¥ 1,200
              %span.item-shipping-fee.f14.bold 送料込み
            %ul.buy-accordion.not-have
              %li.accordion-parent
                .accordion-toggle
                  ポイントはありません
            %ul.buy-price-table
              %li.buy-price-row.buy-you-pay.bold
                .buy-price-cell 支払い金額
                .buy-price-cell
                  -# 仮置きのコード
                  %span{"data-buy-pay" => "1200"} ¥ 1,200
            - if @item.user_id != current_user.id
              = link_to "購入する", trading_message_item_path(@item.id), method: :post, class:"button btn-default btn-red bold"
      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 配送先
          %address.buy-user-info-text
            〒453-0013
            %br/
            愛知県 名古屋市中村区
            ○○-○○-○○
            %br/
            苗字 名前
          %p.buy-user-info-text
          %i.buy-user-info-fix.edit-shipping-address
            = link_to "変更する", 'https://www.mercari.com/jp/transaction/address/m78002095847/?_s=U2FsdGVkX18aip1cp3M85nexbRAeAk83BDLAJ7KzqUn_qmYX9qA3FibkVuEI_QlSa5Il8z4J5GhjIjH9v41HqQk6Hf0UO_zIa6Qsq-cm7_qa4ZvpQkaHRWS-do4eCM5p', class: 'edit-shipping-address'
            %i.icon-arrow-right.fa.fa-angle-right
      %section.buy-content.buy-user-info{"data-buy" => "pay-method"}
        .buy-content-inner
          %h3 支払い方法
          - if @card.present?
            %p.buy-user-info-text
              = "************" + @card.last4
              %br/
              = "0#{@card.exp_month} / #{@card.exp_year.to_s.slice(0..1).to_i}"
            %figure
              = render 'shared/card-images'
            %p
            %i.buy-user-info-fix.edit-shipping-address
              = link_to "変更する", payment_method_users_path(current_user)
              %i.icon-arrow-right.fa.fa-angle-right


  = render 'single-footer'
