= render 'header'
= link_to "ログアウト", destroy_user_session_path, method: :delete

/ トップページの商品一覧(カテゴリー別新着アイテム最大4点)今はカテゴリーは考えず作っています
%main.mainpage
  = render 'items'

= render 'sell-button'

= render 'footer'
