.single-container
  = render 'single-container'
  %main.single-main
    %section.single-main__l-container.buy-item-container
      #sell-container
        %div{"data-reactroot" => ""}
          .sell-container-inner
            %h2.l-single-head 商品の情報を入力
            = form_for (@item), html: {class: 'sell-form'} do |f|
              .sell-form__upload-box
                %h3.sell-form__upload-box-head
                  出品画像
                  %span.form-require 必須
                %p.sell-form__max-10-upload 最大10枚までアップロードできます
                .sell-form__dropbox-container.clearfix.state-image-number-10
                  .sell-upload-items-container
                    .sell-upload-items.have-item-0
                      %ul
                  .sell-upload-drop-box.have-item-0
                    %input.sell-upload-drop-file{:multiple => "multiple", :name => "image1", :style => "display: none;", :type => "file"}/
                    %pre.visible-pc
                      :preserve
                        ドラッグアンドドロップ
                        またはクリックしてファイルをアップロード
                    %i.icon-camera
              .sell-form__content
                .form-group
                  %label
                    商品名
                    %span.form-require 必須
                  %div
                    = f.text_field :name, class: 'input-default', placeholder: '商品名(必須 40文字まで)'
                .form-group
                  %label
                    商品の説明
                    %span.form-require 必須
                  = f.text_area :explain, class: 'textarea-default', placeholder: '商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など)例)      　 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', rows: '5'
              .sell-form__content.item-detail.clearfix
                %h3.sell-sub-head 商品の詳細
                .sell-form-box
                  .form-group
                    %label
                      カテゴリー
                      %span.form-require 必須
                    %div
                      .select-wrap
                        %select.select-default
                          %option{:value => "0"} ---
                          %option{:value => "1"} レディース
                          %option{:value => "2"} メンズ
                          %option{:value => "3"} ベビー・キッズ
                          %option{:value => "4"} インテリア・住まい・小物
                          %option{:value => "5"} 本・音楽・ゲーム
                          %option{:value => "6"} おもちゃ・ホビー・グッズ
                          %option{:value => "7"} コスメ・香水・美容
                          %option{:value => "8"} 家電・スマホ・カメラ
                          %option{:value => "9"} スポーツ・レジャー
                          %option{:value => "10"} ハンドメイド
                          %option{:value => "11"} チケット
                          %option{:value => "12"} 自動車・オートバイ
                          %option{:value => "13"} その他
                        %i.fa.fa-angle-down
                  .form-group
                    %label
                      商品の状態
                      %span.form-require 必須
                    .select-wrap
                      %select.select-default
                        %option{:value => ""} ---
                        %option{:value => "1"} 新品、未使用
                        %option{:value => "2"} 未使用に近い
                        %option{:value => "3"} 目立った傷や汚れなし
                        %option{:value => "4"} やや傷や汚れなし
                        %option{:value => "5"} 傷や汚れあり
                        %option{:value => "6"} 全体的に状態が悪い
                      %i.fa.fa-angle-down
              .sell-form__content.item-delivery.clearfix
                %h3.sell-sub-head 配送について
                %figure.form-question ?
                .sell-form-box
                  .form-group
                    %label
                      配送料の負担
                      %span.form-require 必須
                    .select-wrap
                      %select.select-default
                        %option{:value => ""} ---
                        %option{:value => "2"} 送料込み(出品者負担)
                        %option{:value => "1"} 着払い(購入者負担)
                      %i.fa.fa-angle-down
                  .form-group
                    %label
                      未発送の地域
                      %span.form-require 必須
                    .select-wrap
                      = collection_select :address,:prefecture_id,Prefecture.all,:id,:name,{} ,{class: "select-default"}
                      %i.fa.fa-angle-down
                  .form-group
                    %label
                      発送までの日数
                      %span.form-require 必須
                    .select-wrap
                      %select.select-default
                        %option{:value => ""} ---
                        %option{:value => "1"} 1~2日で発送
                        %option{:value => "2"} 2~3日で発送
                        %option{:value => "3"} 4~7日で発送
                      %i.fa.fa-angle-down
              .sell-form__content.item-price.clearfix
                %h3.sell-sub-head 販売価格(300~9,999,999)
                %figure.form-question ?
                .sell-form-box
                  %ul.sell-price
                    %li.form-group.form-group-price
                      .clearfix
                        %label.l-left
                          価格
                          %span.form-require 必須
                        .l-right.sell-price-input
                          %p.price-mark
                            ¥
                          .price-input-field
                            = f.text_field :price, class: 'input-default', placeholder: '例) 300'
                    %li.clearfix.clearfix-commission
                      .l-left
                        販売手数料（10%）
                      .l-right.l-right-commission -
                    %li.clearfix.bold
                      .l-left.profit 販売利益
                      .l-right -
              .modal{:role => "dialog", :tabindex => "-1"}
                .modal-inner
              .sell-form__content.sell-btn-box
                %div
                  %p
                    %span.blue-font< 禁止されている出品
                    %span.black-font 、
                    %span.blue-font 行為
                    %span.black-font を必ずご確認ください。
                  %p
                    %span.black-font またブランド品でシリアルナンバー等がある場合はご記載ください。
                    %span.blue-font 偽ブランドの販売
                    %span.black-font は犯罪であり処罰される可能性があります。
                  %p
                    %span.black-font また、出品をもちまして
                    %span.blue-font 加盟店規約
                    %span.black-font に同意したことになります
                = f.submit '出品する', class: 'btn-default btn-red'
                %figure.btn-default.btn-gray
                  = link_to "もどる", root_path, class: "btn-gray"
            .overlay
  = render 'single-footer'
