.single-container
  = render 'single-container'
  %main.single-main
    %section.single-main__l-container.buy-item-container
      #sell-container
        %div{"data-reactroot" => ""}
          .sell-container-inner
            %h2.l-single-head 商品の情報を入力
            = form_for (@item), html: {class: 'sell-form'} do |f|
              .sell-form__upload-box
                %h3.sell-form__upload-box-head
                  出品画像
                  %span.form-require 必須
                %p.sell-form__max-10-upload 最大10枚までアップロードできます
                .sell-form__dropbox-container.clearfix.state-image-number-10
                  .sell-upload-items-container
                    .sell-upload-items.have-item-0
                      %ul
                  .sell-upload-drop-box.have-item-0
                    = f.fields_for :item_images do |image|
                      = image.label :image, class: 'sell-upload-drop-box' do
                        = image.file_field :image, class: 'hidden'
                        %pre.visible-pc
                          ドラッグアンドドロップ
                          またはクリックしてファイルをアップロード
                        %i.icon-camera
              .sell-form__content
                .form-group
                  %label
                    商品名
                    %span.form-require 必須
                  %div
                    = f.text_field :name, class: 'input-default', placeholder: '商品名(必須 40文字まで)'
                .form-group
                  %label
                    商品の説明
                    %span.form-require 必須
                  = f.text_area :explain, class: 'textarea-default', placeholder: '商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など)例)      　 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', rows: '5'
              .sell-form__content.item-detail.clearfix
                %h3.sell-sub-head 商品の詳細
                .sell-form-box
                  .form-group
                    %label
                      カテゴリー
                      %span.form-require 必須
                    %div
                      .select-wrap
                        = f.select :category_id,[["---", "0"], ["レディース", "1"], ["メンズ", "2"], ["ベビー・キッズ", "3"], ["インテリア・住まい・小物", "4"], ["本・音楽・ゲーム", "5"], ["おもちゃ・ホビー・グッズ", "6"], ["コスメ・香水・美容", "7"], ["家電・スマホ・カメラ", "8"], ["スポーツ・レジャー", "9"], ["ハンドメイド", "10"], ["チケット", "11"], ["自動車・オートバイ", "12"], ["その他", "13"]],class: 'select-default'
                        = fa_icon 'angle-down'
                  .form-group
                    %label
                      商品の状態
                      %span.form-require 必須
                    .select-wrap
                      = f.select :state, Item.states_i18n.invert,{}
                      = fa_icon 'angle-down'
              .sell-form__content.item-delivery.clearfix
                %h3.sell-sub-head 配送について
                %figure.form-question ?
                .sell-form-box
                  .form-group
                    %label
                      配送料の負担
                      %span.form-require 必須
                    .select-wrap
                      = f.select :postage, Item.postages_i18n.invert, {}
                      = fa_icon 'angle-down'
                  .form-group
                    %label
                      配達の方法
                      %span.form-require 必須
                    .select-wrap
                      = f.select :shipping_way,Item.shipping_ways_i18n.invert, {}
                      = fa_icon 'angle-down'
                  .form-group
                    %label
                      発送元の地域
                      %span.form-require 必須
                    .select-wrap
                      = collection_select :item, :region,Prefecture.all,:id,:name,{} ,{class: "select-default"}
                      = fa_icon 'angle-down'
                  .form-group
                    %label
                      発送までの日数
                      %span.form-require 必須
                    .select-wrap
                      = f.select :shipping_date, Item.shipping_dates_i18n.invert,{}
                      = fa_icon 'angle-down'
              .sell-form__content.item-price.clearfix
                %h3.sell-sub-head 販売価格(300~9,999,999)
                %figure.form-question ?
                .sell-form-box
                  %ul.sell-price
                    %li.form-group.form-group-price
                      .clearfix
                        %label.l-left
                          価格
                          %span.form-require 必須
                        .l-right.sell-price-input
                          %p.price-mark
                            ¥
                          .price-input-field
                            = f.text_field :price, class: 'input-default', value: @item.price, placeholder: '例) 300'
                    %li.clearfix.clearfix-commission
                      .l-left
                        販売手数料（10%）
                      .l-right.l-right-commission
                        = "¥#{thousands_separator(commission(@item.price))}"
                    %li.clearfix.bold
                      .l-left.profit 販売利益
                      .l-right
                        = "¥#{thousands_separator(profits(@item.price))}"

              .modal{:role => "dialog", :tabindex => "-1"}
                .modal-inner
              .sell-form__content.sell-btn-box
                %div
                  %p
                    %span.blue-font< 禁止されている出品
                    %span.black-font 、
                    %span.blue-font 行為
                    %span.black-font を必ずご確認ください。
                  %p
                    %span.black-font またブランド品でシリアルナンバー等がある場合はご記載ください。
                    %span.blue-font 偽ブランドの販売
                    %span.black-font は犯罪であり処罰される可能性があります。
                  %p
                    %span.black-font また、出品をもちまして
                    %span.blue-font 加盟店規約
                    %span.black-font に同意したことになります
                = f.submit '出品する', class: 'btn-default btn-red'
                %figure.btn-default.btn-gray
                  = link_to "もどる", root_path, class: "btn-gray"
            .overlay
  = render 'single-footer'
