- breadcrumb :all_brands_show
= render 'shared/header'

%main.l-container.clearfix
  .brand-wrapper
    .brand-index.clearfix
      %h2 ブランド一覧

      .category-container.clearfix
        - @categories.each do |category|
          = link_to brand_path(category.id) do
            = category.name


      .brand-initial-container.clearfix
        - @initials.each do |initial|
          .initial__box.clearfix
            %a{href: "##{initial}"}
              %p
              = initial

      .brand-name-container
        .category-name
          %h3
            = @category_index.name

        .brand-name-list
          - @initials.each do |initial|
            .brand-name__initial{id: "#{initial}"}
              %h4
                = initial

            .brand-name__wrapper
              - @brands.each do |brand|
                - if initial == brand.initial
                  .brand-name__box--left
                    = link_to brand_show_brand_path(brand.id), class: "brand-name-link" do
                      .brand-name
                        %div
                          %p
                            = brand.name

= render 'shared/footer'

= render 'shared/sell-button'
